* {
    font-family: Arial, Verdana, Tahoma, sans-serif;
}
body {
    margin: 20px;
    background-color: #EEF4FF
}

.food-list {
    text-align: center;
    background-color: #2563EB;
    padding: 10px;
    border: none;
    list-style: none;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.link-recipe {
    display: inline-block;
    padding: 18px 24px 18px;
    margin: 12px auto;
    border: none;
    border-radius: 10px;
    color: #C5D7FF;
    text-decoration: none;
}
.link-recipe:hover {
    background-color: #1E3A8A;
}
.title {
    text-align: center;
    background-color: white;
    padding: 10px;
    font-weight: bold;
}

.back-button {
    padding: 10px 18px;
    margin: 8px;
    background-color: blue;
    color: white;

    border: none;
    border-radius: 8px;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    text-decoration: none;

}
.back-button:hover {
    background-color: darkblue;
}

.image-recipe {
    display: block;
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    border: 1px solid gray;
}

.description-title,
#follow-desc, 
.ingredient-title,
.recipe-step,
.ingredient-list
 {
    text-align: center;
    font-size: 20px;
}

.recipe-content, .recipe-instructions {
    max-width: max-content;
    margin: 8px auto;
    padding: 8px;
    background-color: #dce6ff;
    border-radius: 10px;
    line-height: 22px;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)
}
.recipe-instructions {
    list-style: none;
    counter-reset: steps;
}
.recipe-instructions li {
    counter-increment: steps;
}
.recipe-instructions li::before {
    content: counter(steps);
    color: #1e3a8a;
    font-weight: bold;
    margin-right: 12px;
}

.ingredient-list {
    list-style-type: none;
}

.recipe-instructions {
    line-height: 22px;
}